{{!-- {{#each threads}}
<div>
<a href={{this.id}}>{{this.question}}</a>
<div class="buttons">
<button class="up" data={{this._id}}>Upvote</button>
<p id={{this._id}} >{{this.totalVotes}}</p>
<button class="down" data={{this._id}}>Downvote</button>
</div>
</div>
{{/each}} --}}

{{#each threads}}
<table>
  <tr>
    <td><div class="buttons">
    <button class="up" data={{this._id}}>Upvote</button>
    <p id={{this._id}} >{{this.totalVotes}}</p>
    <button class="down" data={{this._id}}>Downvote</button>
    </div></td>
    <td><a href={{this.id}}>{{this.question}}</a></td>
  </tr>
</table>
<div>==============================================================================</div>
{{/each}}
